<!-- <h1><%#=action_name %> articulo</h1> -->
<%= form_for(@article) do |f| %>
	<% @article.errors.full_messages.each do |message| %>
		<div>
			* <%= message %>
		</div>
	<%end%>
	<div>
		<%= f.text_field :title, placeholder: "Titulo del articulo", :class => "form-title" %>
	</div>
	</br>
	<div>
		<%#= f.file_field :cover %>
	</div>

	<div>
		<%= f.trix_editor :body, placeholder: "Escribe aqui el articulo", :class => "gris"%>
	</div>
	
	<div>
		<label>Categorías</label>
		<% @categories.each do |category| %>
			<% #muestra un check HTML %>
			<%= check_box_tag "categories[]", category.id %>
			<% #muestra el nombre de la categoria %>
			<%= category.name %>
		<%end%>
	</div>
	</br>
	<div>
		<a href="#" onclick="document.forms['<% if @article.id.nil? %><%= "new_article"%><%else%><%= "edit_article_#{@article.id}"%><%end%>'].submit(); return false;">
			<div class="btn btn-edit form-group col-xs-4">
				Guardar
			</div>
		</a>
	</div>
	<div>
		<%#= f.submit "Guardar" %>
	</div>
	
<%end%>