<div>
	<%= @article.body%>
</div>
<div>
	</br>
	Visitas: <%= @article.visists_count%></p>
</div>

<%if user_signed_in?%>
	<%if current_user.id == @article.user.id and @article.may_publish?%>
	<%# Se puede Editar si es el usuario que escribió el articulo y si aún no fue publicado %>
	<a href="<%=edit_article_path(@article)%>">
		<div class="btn btn-edit form-group col-xs-4">
			Editar
		</div>
	</a>
	<%end%>
	<%if current_user.is_admin? and @article.may_publish?%>
	<%# Se puede Publicar sólo por usuarios administradores %>
	<a rel="nofollow" data-method="put" href="<%="/articles/#{@article.id}/publish"%>">
		<div class="btn btn-publish form-group col-xs-4">
			Publicar
		</div>
	</a>
	<%end%>
	<%if (current_user.id == @article.user.id or current_user.is_admin?) and @article.may_publish?%>
	<%# Se puede Eliminar si es el usuario que escribió el articulo o si es un usuario administrador, y si aún no fue publicado %>
	<a rel="nofollow" data-method="delete" href="<%=article_path(@article)%>">
		<div class="btn btn-delete form-group col-xs-4">
			Eliminar
		</div>
	</a>
	<%end%>
<%end%>

<br></br>
<%if user_signed_in?%>
<div>
	
	<!--<h3>Comentarios</h3>-->
	<%= render "comments/form" %>
	<!-- muestra los comentarios asociados a este articulo -->
	<div id="comments-box">
	<% @article.comments.each do |comment| %>
		<blockquote>
			<label><%= comment.user.email %> dice:</label><br>
			<%= comment.body %>
		</blockquote>
	<%end%>
	</div>
	
</div>
<%end%>