<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <p>Por favor complete los datos para ingresar:</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <br>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Direcci칩n de Correo Electronico" %>
        <p class="help-block text-danger"></p>
      </div>
    </div>

    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Contrase침a"  %>
        <p class="help-block text-danger"></p>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label "Mantener Sesi칩n Abierta" %>
      </div>
    <% end -%>
  <br>
    <div class="actions">
      <%= f.submit "Iniciar Sesi칩n", :class => "btn btn-default"%>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
  </div>
</div>